{% load bootstrap3 %}

<form method="post">
  {% csrf_token %}

  {% bootstrap_field form.amount_requested addon_before='£' %}
  <hr />
  {% bootstrap_field form.would_like_ticket_set_aside %}
  <hr />
  {% bootstrap_field form.about_you %}
  <hr />
  <div class="form-group"><label class="control-label" for="{{ form.days.auto_id }}">Which days are you coming?</label>
    <div class="btn-group" data-toggle="buttons">
      {{ form.days }}
    </div>
</div>
  <hr />
  {% buttons %}
  <button type="submit" class="btn btn-primary">Submit</button>
  {% endbuttons %}
</form>
