{% extends 'ironcage/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Your application for financial assistance</h3>
    <hr />

    {% include './_application_details.html' %}

    <a href="{% url 'grants:application_delete' application.application_id %}" class="btn btn-danger">Withdraw your application</a>
    <a href="{% url 'grants:application_edit' application.application_id %}" class="btn btn-primary">Update your application</a>
  </div>
</div>
{% endblock %}
