{% extends 'ironcage/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    {% if not request.user.is_authenticated %}
    <p>Please <a href="{% url 'register' %}?next={{ request.path }}">sign up</a> or <a href="{% url 'login' %}?next={{ request.path }}">sign in</a> to buy a ticket.</p>
    <p>If you bought a ticket for last years conference, you can sign in with the same account.</p>
    {% endif %}

    {% include './_ticket_info.html' %}
  </div>

  <div class="col-md-6">
    {% include './_ticket_price_table.html' %}
  </div>
</div>

<div class="row">
  {% if request.user.is_authenticated %}
  {% include 'tickets/_order_form.html' %}
  {% endif %}
</div>
{% endblock %}

{% block json_data %}
var rates = {{ rates_data|safe }};
{% endblock %}
