{% extends 'ironcage/base.html' %}

{% block content %}
<h1>Details of your order ({{ order.order_id }})</h1>

{% if order.status == 'failed' %}
<div class="alert alert-danger" role="alert">Payment for this order failed ({{ order.stripe_charge_failure_reason }})</div>
{% endif %}

{% if order.status == 'successful' %}
<p>You have ordered {{ order.num_tickets }} ticket{{ order.num_tickets|pluralize }} at the {{ order.rate }} rate.</p>
{% else %}
<p>You are ordering {{ order.num_tickets }} ticket{{ order.num_tickets|pluralize }} at the {{ order.rate }} rate.</p>
{% endif %}

<div class="row">
  <div class="col-md-4">
    <table class="table table-condensed">
      <tr>
        <th>Date</th>
        <td>{% if order.payment_required %}Unpaid{% else %}{{ order.stripe_charge_created|date }}{% endif %}</td>
      </tr>
      {% if order.rate == 'corporate' %}
      <tr>
        <th>Company</th>
        <td>{{ order.company_name }}</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{ order.company_addr_formatted }}</td>
      </tr>
      {% endif %}
      <tr>
        <th>Total (excl. VAT)</th>
        <td>£{{ order.cost_excl_vat }}</td>
      </tr>
      <tr>
        <th>VAT</th>
        <td>£{{ order.vat }}</td>
      </tr>
      <tr>
        <th>Total (incl. VAT)</th>
        <td>£{{ order.cost_incl_vat }}</td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Ticket details</h3>

    <table class="table table-condensed">
      {% for detail in order.ticket_details %}
      <tr>
        <td>{{ detail.id }}</td>
        <td>{{ detail.name }}</td>
        <td>{{ detail.days }}</td>
        <td>£{{ detail.cost_incl_vat }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% if order.payment_required %}
<div id="stripe-form">
  <form action="{% url 'tickets:order_payment' order_id=order.order_id %}" method="POST">
    {% csrf_token %}
    <!-- TODO Use PyCon UK logo for data-image -->
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="{{ stripe_api_key }}"
      data-amount="{{ order.cost_pence_incl_vat }}"
      data-currency="gbp"
      data-name="PyCon UK Society Ltd"
      data-description="PyCon UK 2017 order {{ order.order_id }}"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto"
      data-zip-code="true"
      data-email="{{ order.purchaser.email_addr }}"
    >
    </script>

    <!-- https://stackoverflow.com/a/41527060 -->
    <style>.stripe-button-el { display: none; }</style>
    <button class="btn btn-primary" type="submit">Pay by card</button>
    <a href="{% url 'tickets:order_edit' order.order_id %}" class="btn btn-primary">Make changes to your order</a>
  </form>

</div>
{% else %}
<div class="row">
  <div class="col-md-6">
    <a href="{% url 'tickets:order_receipt' order.order_id %}" class="btn btn-primary">View receipt</a>
  </div>
</div>
{% endif %}

{% endblock %}
