{% extends 'ironcage/base.html' %}

{% load static %}

{% block content %}
<h1>Details of your invoice ({{ invoice.id }})</h1>

{% if invoice.payment_required %}
<p>You are ordering {{ invoice.num_tickets }} ticket{{ invoice.num_tickets|pluralize }} at the {{ invoice.rate }} rate.</p>
{% else %}
<p>You have ordered {{ invoice.num_tickets }} ticket{{ invoice.num_tickets|pluralize }} at the {{ invoice.rate }} rate.</p>
{% endif %}


{% for row in invoice.rows.all %}
{{ row.invoice_item }} {{ row.total_inc_vat }}
{% endfor %}


{% include './_invoice_details.html' %}

{% if invoice.payment_required %}
<div id="stripe-form">
  <form action="{% url 'tickets:order_payment' order_id=invoice.order_id %}" method="POST">
    {% csrf_token %}
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="{{ stripe_api_key }}"
      data-amount="{{ invoice.cost_pence_incl_vat }}"
      data-currency="gbp"
      data-name="PyCon UK Society Ltd"
      data-image="{% static 'ironcage/img/yellow.png' %}"
      data-description="PyCon UK 2018 invoice {{ invoice.order_id }}"
      data-locale="auto"
      data-email="{{ invoice.purchaser.email_addr }}"
    >
    </script>

    <!-- https://stackoverflow.com/a/41527060 -->
    <style>.stripe-button-el { display: none; }</style>
    <button class="btn btn-primary" type="submit">Pay by card</button>
    <a href="{% url 'tickets:order_edit' invoice.order_id %}" class="btn btn-primary">Make changes to your invoice</a>
  </form>

</div>
{% elif not invoice.status == 'errored' %}
<div class="row">
  <div class="col-md-6">
    <a href="{% url 'payments:invoice' invoice.id %}" class="btn btn-primary">View receipt</a>
    {% if ticket %}
    <a href="{% url 'tickets:ticket' ticket.ticket_id %}" class="btn btn-primary">View your ticket</a>
    {% endif %}
  </div>
</div>
{% endif %}

{% endblock %}
