<div>
  <h3>Basic information</h3>
  <table class="table">
    <tr>
      <th class="col-md-4">Name</th>
      <td>{{ user.name }}</td>
    </tr>
    <tr>
      <th class="col-md-4">Email</th>
      <td>{{ user.email_addr }}</td>
    </tr>
  </table>
</div>

<div>
  <h3>Accommodation</h3>

  <table class="table">
    <tr>
      <th class="col-md-4">Has arranged accommodation?</th>
      <td>
        {% if user.has_booked_hotel == None %}
        unknown
        {% elif user.has_booked_hotel %}
        yes
        {% else %}
        no
        {% endif %}
      </td>
    </tr>
  </table>
</div>

<div>
  <h3>Requirements</h3>
  <table class="table">
    <tr>
      <th class="col-md-4">Accessibility</th>
      <td>
        {% if user.accessibility_reqs_yn == None %}
        unknown
        {% elif user.accessibility_reqs_yn %}
        {{ user.accessibility_reqs }}
        {% else %}
        none
        {% endif %}
      </td>
    </tr>
    <tr>
      <th class="col-md-4">Childcare</th>
      <td>
        {% if user.childcare_reqs_yn == None %}
        unknown
        {% elif user.childcare_reqs_yn %}
        {{ user.childcare_reqs }}
        {% else %}
        none
        {% endif %}
      </td>
    </tr>
    <tr>
      <th class="col-md-4">Dietary</th>
      <td>
        {% if user.dietary_reqs_yn == None %}
        unknown
        {% elif user.dietary_reqs_yn %}
        {{ user.dietary_reqs }}
        {% else %}
        none
        {% endif %}
      </td>
    </tr>
  </table>
</div>

{% if user.get_ticket is not None %}
<div>
  <h3>UK Python Association</h3>
    <table class='table'>
      <tr>
        <th class="col-md-4">Membership</th>
        <td>
          {% if user.is_ukpa_member == None %}
          unknown
          {% elif user.is_ukpa_member %}
          Yes
          {% else %}
          No
          {% endif %}
        </td>
      </tr>
    </table>
</div>
{% endif %}

<div>
  <h3>Demographics</h3>
  {% if user.dont_ask_demographics %}
  <p>You have opted not to share demographic information with us.</p>
  {% else %}
  <table class="table">
    <tr>
      <th class="col-md-4">Year of birth</th>
      <td>{{ user.year_of_birth|default:"unknown" }}</td>
    </tr>
    <tr>
      <th class="col-md-4">Gender</th>
      <td>{{ user.gender|default:"unknown" }}</td>
    </tr>
    <tr>
      <th class="col-md-4">Ethnicity</th>
      <td>
        {% if 'please describe' in user.ethnicity %}
        {{ user.ethnicity_free_text }}
        {% else %}
        {{ user.ethnicity|default:"unknown" }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th class="col-md-4">Nationality</th>
      <td>{{ user.nationality|default:"unknown" }}</td>
    </tr>
    <tr>
      <th class="col-md-4">Country of residence</th>
      <td>{{ user.country_of_residence|default:"unknown" }}</td>
    </tr>
  </table>
  {% endif %}
</div>

