{% extends 'ironcage/base.html' %}

{% load bootstrap3 %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>Requirements profile</h2>

    <form class="form-horizontal" method="post">
      {% csrf_token %}

      <div id="requirements-accessibility">
        <div class="row">
          <div class="col-md-3">
            <label>Do you have any accessibility requirements?</label>
          </div>
          <div class="col-md-9">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default{% if form.accessibility_reqs_yn.value == True %} active{% endif %}">
                <input type="radio" name="accessibility_reqs_yn" value="2" {% if form.accessibility_reqs_yn.value == True %} checked{% endif %}>Yes
              </label>
              <label class="btn btn-default{% if form.accessibility_reqs_yn.value == False %} active{% endif %}">
                <input type="radio" name="accessibility_reqs_yn" value="3" {% if form.accessibility_reqs_yn.value == False %} checked{% endif %}>No
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-9">
            {% bootstrap_field form.accessibility_reqs layout='inline' placeholder='Please tell us more' %}
          </div>
        </div>
      </div>

      <div id="requirements-childcare">
        <div class="row">
          <div class="col-md-3">
            <label>Do you have any childcare requirements?</label>
          </div>
          <div class="col-md-9">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default{% if form.childcare_reqs_yn.value == True %} active{% endif %}">
                <input type="radio" name="childcare_reqs_yn" value="2" {% if form.childcare_reqs_yn.value == True %} checked{% endif %}>Yes
              </label>
              <label class="btn btn-default{% if form.childcare_reqs_yn.value == False %} active{% endif %}">
                <input type="radio" name="childcare_reqs_yn" value="3" {% if form.childcare_reqs_yn.value == False %} checked{% endif %}>No
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-9">
            {% bootstrap_field form.childcare_reqs layout='inline' placeholder='Please tell us more' %}
          </div>
        </div>
      </div>

      <div id="requirements-dietary">
        <div class="row">
          <div class="col-md-3">
            <label>Do you have any dietary requirements?</label>
          </div>
          <div class="col-md-9">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default{% if form.dietary_reqs_yn.value == True %} active{% endif %}">
                <input type="radio" name="dietary_reqs_yn" value="2" {% if form.dietary_reqs_yn.value == True %} checked{% endif %}>Yes
              </label>
              <label class="btn btn-default{% if form.dietary_reqs_yn.value == False %} active{% endif %}">
                <input type="radio" name="dietary_reqs_yn" value="3" {% if form.dietary_reqs_yn.value == False %} checked{% endif %}>No
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-9">
            {% bootstrap_field form.dietary_reqs layout='inline' placeholder='Please tell us more' %}
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
