{% extends 'ironcage/base.html' %}

{% block content %}
<h1>Hello, {{ name }}</h1>

{% if ticket %}
<p>You have a ticket for {{ ticket.details.days }}.</p>
{% endif %}

{% if orders %}
<p>Your order(s):</p>
<ul>
  {% for order in orders %}
  <li><a href="{% url 'tickets:order' order.order_id %}">Order {{ order.order_id }}</a></li>
  {% endfor %}
{% else %}
{% endif %}

{% if not ticket %}
<p>You do not have a ticket for PyCon UK 2017.  <a href="{% url 'tickets:new_order' %}">Buy one now!</a></p>
{% endif %}
{% endblock %}
