{% load bootstrap3 %}
{% load avatar_tags %}

<form method="post">
  {% csrf_token %}
  {% avatar user %}<br><br>
  {% bootstrap_field form.statement %}
  <hr />
  {% buttons %}
  <p>By submitting this nomination I declare that I:</p>
  <ul>
    <li>have not been convicted at any time of an offence involving dishonesty or deception (please note, you do not have to declare any conviction
    here which is regarded as ‘spent’); and</li>
    <li>am not currently declared bankrupt (or subject to bankruptcy restrictions or an interim order) or have an individual voluntary arrangement
    (IVA) with creditors, and;</li>
    <li>am not disqualified from being a Company Director; and</li>
    <li>have not failed to make payments under County Court Administration Orders; and</li>
    <li>have not at any time been removed by the Charity Commission for England and Wales or by the court in England or Wales from being a
    Trustee due to misconduct.</li>
    <li>am not disqualified from being a Trustee by an order of the Charity Commission for England and Wales under section 181A of the Charities Act 2011</li>
  </ul>
  <button type="submit" class="btn btn-primary">Submit</button>
  {% endbuttons %}
</form>

