{% extends 'ironcage/base.html' %}

{% load static %}

{% block content %}
<h1>Details of your order</h1>

{% include './_invoice_details.html' %}

{% if invoice.payment_required %}
<div id="stripe-form">
  <form action="{% url 'payments:invoice_payment' order_id=invoice.id %}" method="POST">
    {% csrf_token %}
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="{{ stripe_api_key }}"
      data-amount="{{ invoice.total_pence_inc_vat }}"
      data-currency="gbp"
      data-name="PyCon UK Society Ltd"
      data-image="{% static 'ironcage/img/yellow.png' %}"
      data-description="PyCon UK 2018 invoice {{ invoice.invoice_id }}"
      data-locale="auto"
      data-email="{{ invoice.purchaser.email_addr }}"
    >
    </script>

    <!-- https://stackoverflow.com/a/41527060 -->
    <style>.stripe-button-el { display: none; }</style>
    <button class="btn btn-primary" type="submit">Pay by card</button>
    <a href="{% url 'tickets:order_edit' invoice.id %}" class="btn btn-primary">Make changes to your invoice</a>
  </form>

</div>
{% elif not invoice.status == 'errored' %}
<div class="row">
  <div class="col-md-6">
    <a href="{% url 'payments:payment' invoice.get_payment.id %}" class="btn btn-primary">View receipt</a>
    {% if ticket %}
    <a href="{% url 'tickets:ticket' ticket.ticket_id %}" class="btn btn-primary">View your ticket</a>
    {% endif %}
  </div>
</div>
{% endif %}

{% endblock %}
