{% extends 'ironcage/base.html' %}

{% block content %}
<h1>Receipt for PyCon UK 2017 conference dinner</h1>

<p>Issued by the PyCon UK Society Ltd, c/o Acconomy, Arena Business Centre, Holyrood Close, Poole, BH17 7FJ, United Kingdom (VAT Number 249244982)</p>

<p>Issued to {{ booking.guest.name }}</p>

<p>Ticket for PyCon UK 2017 conference dinner</p>

<div class="row">
  <div class="col-md-4">
    <table class="table table-condensed">
      <tr>
        <th>Date</th>
        <td>{{ booking.stripe_charge_created|date }}</td>
      </tr>

      <tr>
        <th>Total (excl. VAT)</th>
        <td>£25</td>
      </tr>

      <tr>
        <th>VAT at 20%</th>
        <td>£5</td>
      </tr>

      <tr>
        <th>Total (incl. VAT)</th>
        <td>£30</td>
      </tr>
    </table>
  </div>
</div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price per item (excl. VAT)</th>
      <th>Price per item (incl. VAT)</th>
      <th>Total (excl. VAT)</th>
      <th>Total (incl. VAT)</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Ticket for PyCon UK 2017 conference dinner</td>
      <td>1</td>
      <td>£25</td>
      <td>£30</td>
      <td>£25</td>
      <td>£30</td>
    </tr>

    <tr>
      <th>Total</th>
      <th></th>
      <th></th>
      <th></th>
      <th>£25</th>
      <th>£30</th>
    </tr>
  </tbody>
</table>
{% endblock %}
