{% extends 'ironcage/base.html' %}

{% block content %}
{% include './_voting_nav.html' %}

<p>To help us allocate rooms for talks, please let us know if you would be interested in attending the following talk.</p>

<hr />

<h3>{{ proposal.full_title }} <span class="small">({{ proposal.proposer.name }})</span></h3>

<div>{{ proposal.description|linebreaks }}</div>

<hr />

<form method="POST" id="voting-form">
  {% csrf_token %}
  <div class="btn-group" data-toggle="buttons">
  {{ form.is_interested }}
  </div>
</form>
{% endblock %}
