{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'tickets/tickets.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dinners/dinners.css' %}" />
    <title>{{ title|default:"PyCon UK 2017 HQ" }}</title>
  </head>
  <body>
    <div class="container">
      {% if not no_navbar %}
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <!-- TODO add hamburger menu -->
            <a class="navbar-brand" href="/">PyCon UK HQ</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_staff %}
              <li><a href="{% url 'reports:index' %}">Reports</a></li>
              {% endif %}
              {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Sign out</a></li>
              {% else %}
              <li><a href="{% url 'login' %}?next={{ request.path }}">Sign in</a></li>
              <li><a href="{% url 'register' %}?next={{ request.path }}">Sign up</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      {% endif %}
      <div class="row">
        <div class="col-md-12">
          {% for message in messages %}
          {% if message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% else %}
          <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <hr />
    </div>
  </body>
  <script src="{% static 'jquery-3.1.0/js/jquery.js' %}"></script>
  <script src="{% static 'jquery-plugins/js/jquery.formset.js' %}"></script>
  <script src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}"></script>
  <script src="{% static 'bootstrap-plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>

  <script>
    {% block json_data %}
    {% endblock %}
  </script>

  {% for path in js_paths %}
  <script src="{% static path %}"></script>
  {% endfor %}
</html>
