{% extends 'ironcage/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<p>Hello, {{ request.user.name }}</p>
{% endif %}

<p>Welcome to the PyCon UK 2017 conference HQ.</p>

<p>The conference takes place at <a href="http://2017.pyconuk.org/venue/">Cardiff City Hall</a> from Thursday 26th to Monday 30th October 2017.</p>

{% if ticket %}
<p>You have a ticket for {{ ticket.details.days }}.</p>
{% endif %}

<p>Here, you can:</p>
<ul>
  {% include './_actions.html' %}
</ul>

{% endblock %}
