{% extends 'ironcage/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<p>Hello, {{ request.user.name }}</p>
{% endif %}

<p>Welcome to the PyCon UK 2017 conference HQ.</p>

<p>The conference takes place at <a href="http://2017.pyconuk.org/venue/">Cardiff City Hall</a> from Thursday 26th to Monday 30th October 2017.</p>

{% if ticket %}
<p>You have a ticket for {{ ticket.details.days }}.</p>
{% endif %}

<p>Here, you can:</p>
<ul>
{% if ticket %}
<li><a href="{% url 'tickets:ticket' ticket.ticket_id %}">View your conference ticket</a></li>
<li><a href="{% url 'accounts:profile' %}">Update your profile</a></li>
{% endif %}

{% if orders|length == 0 %}
<li><a href="{% url 'tickets:new_order' %}">Order conference tickets</a></li>
{% elif orders|length == 1 %}
<li><a href="{% url 'tickets:order' orders.0.order_id %}">View your order</a></li>
<li><a href="{% url 'tickets:new_order' %}">Order more conference tickets</a></li>
{% else %}
{% for order in orders %}
<li><a href="{% url 'tickets:order' order.order_id %}">View order {{ order.order_id }}</a></li>
{% endfor %}
<li><a href="{% url 'tickets:new_order' %}">Order more conference tickets</a></li>
{% endif %}

<li><a>Make a submission to our Call for Participation</a></li>
<li><a>Apply for financial assistance</a></li>
</ul>

{% endblock %}
